@page "/ListTipoTramite"


@inject NavigationManager navigationManager
@inject IUtilidadesDBOracle utilidadesdDBoracle
@inject IGenerarPDFClientService GenerarPDFService
@inject IGenerarExcelClientService generarExcelService
@inject IJSRuntime JSRuntime

<div class="mx-5 mb-3 w-50 p-3" style="display: flex;align-items: center;justify-content: center;">

    <MudTable Items="filteredTipoTramite" Dense="true" Hover="true" Bordered="false" Striped="true">
        <ToolBarContent>
            <MudText>Listado codigo de sociedades</MudText>
            <MudSpacer />
            <MudTextField @bind-Value="searchString" Placeholder="Buscar tipo societario" Adornment="Adornment.Start"
                          AdornmentIcon="@Icons.Material.Filled.Search" Class="mt-0" Immediate="true"></MudTextField>
        </ToolBarContent>
        <HeaderContent>
            <MudTh>CODIGO</MudTh>
            <MudTh>TIPO TRAMITE</MudTh>

        </HeaderContent>
        <RowTemplate>
            <MudTd>@context.Codigo</MudTd>
            <MudTd>@context.Nombre</MudTd>

            <MudTd>



            </MudTd>
        </RowTemplate>
        <PagerContent>
            <MudTablePager />
        </PagerContent>
    </MudTable>

    
</div>
<div class="m-3" style="display: flex;align-items: center;justify-content: center;">
    <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="GeneratePDF">Generar PDF</MudButton>
    <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Secondary" OnClick="GenerateExcel">Generar Excel</MudButton>
</div>

@if (!string.IsNullOrEmpty(pdfDataUrl))
{
    <iframe src="@pdfDataUrl" style="width:100%; height:600px;"></iframe>
}

<script>
    function downloadFile(dataUrl, fileName) {
        var a = document.createElement("a");
        a.href = dataUrl;
        a.download = fileName;
        document.body.appendChild(a);
        a.click();
        document.body.removeChild(a);
    }
</script>

@code {

    //bindeado en el input de busqueda
    private string searchString = "";
    List<TipoTramite> tipoTramites= new();
    string message;
    private string pdfDataUrl;
    //logica busqueda filtro
    private List<TipoTramite> filteredTipoTramite => tipoTramites.Where(s =>
       s.Nombre.Contains(searchString, StringComparison.OrdinalIgnoreCase)).ToList();


    protected async override Task OnInitializedAsync()
    {
        IEnumerable<TipoTramite> rspListaTipoTramites = await utilidadesdDBoracle.GetTipoTramites();

        if (rspListaTipoTramites is not null)
        {
            tipoTramites = rspListaTipoTramites.ToList();
        }
    }

    // método para generar y mostrar el PDF
    private async Task GeneratePDF()
    {
        var response = await GenerarPDFService.GeneratePDFHtmlFormat<TipoTramite>(filteredTipoTramite,@"api/GenerarPDF/generatePDFTipoTramite");

        if (response.IsSuccess)
        {
            var pdfBase64 = Convert.ToBase64String(response.Data);
            pdfDataUrl = $"data:application/pdf;base64,{pdfBase64}";
        }
        else
        {
            // Maneja el error de acuerdo a tus necesidades
            message = response.Message;
        }
    }

    private async Task GenerateExcel()
    {
        var response = await generarExcelService.GenerateExcel<TipoTramite>(filteredTipoTramite, @"api/GenerarExcel/generateExcelTipoTramite");

        if (response.IsSuccess)
        {
            var excelBase64 = Convert.ToBase64String(response.Data);
            var excelDataUrl = $"data:application/vnd.openxmlformats-officedocument.spreadsheetml.sheet;base64,{excelBase64}";
            await JSRuntime.InvokeVoidAsync("downloadFile", excelDataUrl, "TipoTramite.xlsx");
        }
        else
        {
            message = response.Message;
        }
    }
}
